[Unit]
Description=Install Surface Linux kernel on first boot
ConditionPathExists=!/var/lib/surface-kernel-installed

[Service]
Type=oneshot
ExecStart=/usr/bin/rpm-ostree uninstall \
	kernel-core kernel-modules kernel-modules-extra libwacom libwacom-data 
ExecStart=/usr/bin/rpm-ostree install --force-replacefiles \
	kernel-surface iptsd libwacom-surface libwacom-surface-data
ExecStart=/usr/bin/systemctl enable iptsd.service
ExecStart=/usr/bin/touch /var/lib/surface-kernel-installed

[Install]
WantedBy=multi-user.target